{% extends 'main/base.html' %}

{% block title %}
Покупки
{% endblock %}

{% block main %}
<div class="container">
    <h1>Список покупок</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Имя покупателя</th>
                <th>Название магазина</th>
                <th>Дата покупки</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase %}
            <tr>
                <td>{{ purchase.visitor }}</td>
                <td>{{ purchase.store }}</td>
                <td>{{ purchase.purchase_date }}</td>
                <td>{{ purchase.amount }}</td>
                <td>
                    <a href="{% url 'purchase_update' purchase.pk %}" class="btn btn-success">Редактировать</a>
                    <a href="{% url 'purchase_delete' purchase.pk %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'purchase_create' %}" class="btn btn-primary">Добавить покупку</a>
    </div>
{% endblock %}